
# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# =========================
# PyCharm / IDEs
# =========================
.idea/
.vscode/
*.iml



# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary / cache
# =========================
*.swp
*.tmp
.cache/

# =========================
# ROS tools
# =========================
*.bag
*.db3

# =========================
# Optional: logs
# =========================
logs/